<user-search></user-search>
<div class="content">
	<div class="container-fluid">
		<div id="dashboard-id" class="card card-profile">
			<div class="col-lg-12 col-md-12" id="dashboard-card">
				<div class="card-avatar">
					<a href="#"> <img class="img" src="app/home/img/img_pranay.png" /> </a>
				</div>
				<div class="content">
					<h6 class="category text-gray">Proud Husky, Crazy Person</h6>
					<h4 class="card-title">Pranay Mankad</h4>
					<div class="col-lg-3 col-md-4 col-sm-3">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<h2 class="title">75</h2>
							</div>

							<div class="card-content">
								<h3>Items Bought</h3>
							</div>

							<div class="card-footer" style="padding:10px">
								<div class="stats"> <i class="material-icons">thumb_up</i> Congratulations! </div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-8 col-sm-6">
						<div class="card card-stats">
							<div class="card-header" data-background-color="green">
								<h2 class="title">3</h2>
							</div>
							<div class="card-content">
								<table class="table">
									<thead>
										<tr>
											<th class="text-center"><b>#</b></th>
											<th><b>Name</b></th>
											<th><b>Item</b></th>
											<th class="text-right"><b>Bid</b></th>
											<th class="text-right"><b>Salary</b></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">1</td>
											<td class="text-left">Pranay Mankad</td>
											<td class="text-left">Television</td>
											<td class="text-right">&#36; 2013</td>
											<td class="text-right">6174078426</td>
										</tr>
										<tr>
											<td class="text-center">2</td>
											<td class="text-left">Soham Dasneogi</td>
											<td class="text-left">Counter Table</td>
											<td class="text-right">&#36; 200</td>
											<td class="text-right">6174078429</td>
										</tr>
										<tr>
											<td class="text-center">3</td>
											<td class="text-left">Devesh Kandpal</td>
											<td class="text-left">Blender</td>
											<td class="text-right">&#36; 10</td>
											<td class="text-right">6174078427</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="stats" style="padding:10px"> <a href="#"><i class="material-icons">question_answer</i> These are your new messages</a> </div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-3">
						<div class="card card-stats">
							<div class="card-header" data-background-color="red">
								<h2 class="title">15</h2>
							</div>
							<div class="card-content">
								<h3>Items Sold</h3>
							</div>
							<div class="card-footer">
								<div class="stats" style="padding:10px"> <i class="material-icons">trending_up</i> You're doing a good job! </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer></footer>
<script>
$(document).ready(function() {
	demo.initDashboardPageCharts();
});
</script>